* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #dbe9f4;
}

body .image {
  overflow: hidden;
}

body .image img {
  width: 100%;
  border-radius: 0.4rem;
}

body .container {
  margin: 1rem;
  padding: 1.2rem;
  background-color: #ffffff;
  border-radius: 0.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
}

body .container .image-input {
  width: 100%;
}

body .container .image-input h1 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: 500;
}

body .container .filters {
  width: 100%;
  -webkit-box-shadow: 0 0 0px 0.5px #a3a3a3;
          box-shadow: 0 0 0px 0.5px #a3a3a3;
  padding: 1rem;
  border-radius: 0.2rem;
}

body .container .filters.disabled .bttns button.actived {
  color: #ffffff;
  background-color: #a9b9f8;
  -webkit-box-shadow: 0 0 0px 0.5px #a9b9f8;
          box-shadow: 0 0 0px 0.5px #a9b9f8;
}

body .container .filters.disabled .slider input[type="range"]::-webkit-slider-thumb {
  -webkit-box-shadow: -150px 0 0 150px #a9b9f8;
          box-shadow: -150px 0 0 150px #a9b9f8;
}

body .container .filters .title {
  text-align: left;
}

body .container .filters .title h2 {
  margin-bottom: 1rem;
  font-size: 1.1rem;
  color: #a3a3a3;
  font-weight: 400;
}

body .container .filters .bttns {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  gap: 0.8rem;
}

body .container .filters .bttns button {
  padding: 0.6rem;
  -webkit-box-shadow: 0 0 0px 0.5px #a3a3a3;
          box-shadow: 0 0 0px 0.5px #a3a3a3;
  border: 0;
  background-color: transparent;
  border-radius: 0.2rem;
  font-size: 0.95rem;
  outline: 0;
  color: #a3a3a3;
}

body .container .filters .bttns button.actived {
  color: #ffffff;
  background-color: #5372f0;
  -webkit-box-shadow: 0 0 0px 0.5px #5372f0;
          box-shadow: 0 0 0px 0.5px #5372f0;
}

body .container .filters .slider {
  margin: 2rem 0;
}

body .container .filters .slider .titles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .container .filters .slider input[type="range"] {
  width: 100%;
  -webkit-appearance: none;
  background-color: #e5e5e5;
  -webkit-box-shadow: 0 0 0px 0.8px black;
          box-shadow: 0 0 0px 0.8px black;
  border-radius: 0.5rem;
  overflow: hidden;
}

body .container .filters .slider input[type="range"]::-webkit-slider-runnable-track {
  height: 10px;
  -webkit-appearance: none;
  color: #13bba4;
}

body .container .filters .slider input[type="range"]::-webkit-slider-thumb {
  width: 18px;
  -webkit-appearance: none;
  height: 18px;
  cursor: ew-resize;
  background: #434343;
  -webkit-transform: translateY(-0.4rem);
          transform: translateY(-0.4rem);
  -webkit-box-shadow: -150px 0 0 150px #5372f0;
          box-shadow: -150px 0 0 150px #5372f0;
}

body .container .filters .configs .functions {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  gap: 0.4rem;
}

body .container .filters .configs .functions button {
  padding: 0.6rem;
  -webkit-box-shadow: 0 0 0px 0.5px #a3a3a3;
          box-shadow: 0 0 0px 0.5px #a3a3a3;
  border: 0;
  background-color: transparent;
  border-radius: 0.2rem;
  font-size: 0.95rem;
  outline: 0;
  color: #a3a3a3;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

body .container .filters .configs .functions button:active, body .container .filters .configs .functions button:hover {
  color: #ffffff;
  background-color: #5372f0;
  -webkit-box-shadow: 0 0 0px 0.5px #5372f0;
          box-shadow: 0 0 0px 0.5px #5372f0;
}
/*# sourceMappingURL=main.css.map */